body {
    background-color: #2c2c2c;
    color: #FFFFFF;
    font-family: monospace;
}

ul {
    list-style-type: none;
}

table {
    margin: auto;
}

#container {
    padding: 0px 50px;
}

#game_content, #open_keyboard_button {
    display: none;
}

#hidden_input {
    visibility: hidden;
}

.bg_dark_gray {
    background-color: #2c2c2c;
}

.bg_gray {
    background-color: #3b3b3b;
}

.bg_green {
    background-color: #087e1e;
}

.bg_yellow {
    background-color: #877c0a;
}

.bottom_margin {
    margin-bottom: 30px;
}

.cell {
    padding: 10px;
    margin: 10px;
    display: inline-block;
    border: 1px solid;
    font-size: 32px;
    text-align: center;
}

.center {
    text-align: center;
}

.float_child {
    width: 50%;
    float: left;
}

.score_box {
    border: 1px solid white;
    padding: 20px 0px;
}

@media (max-width: 730px) {
    .float_child {
        width: 100%;
        float: none;
    }
}
