body {
    background-color: rgb(207, 226, 233);
    font-family: Arial, Helvetica, sans-serif;
}

div {
    /* Vertically align text content */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

input {
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

input[type='button'] {
    background-color: rgb(56, 69, 255);
    border: 2px solid rgb(238, 238, 238);
    color: white;
    height: 35px;
    text-align: center;
    width: 100px;
}

input[type='number'] {
    margin: 0px 20px;
    text-align: left;
    width: 40px;
}

h1,h2 {
    color: rgb(228, 26, 26);
    text-align: center;
}

hr {
    border-top: black solid;
    width: 100%;
}

table {
    border: 3px solid;
    border-collapse: collapse;
    margin-bottom: 20px;
}

td {
    border: solid;
    padding: 20px;
}

th {
    background-color: rgb(176, 191, 197);
    border: solid;
    border-bottom: 3px solid;
    padding: 10px 0px;
}

#container {
    /* Flex and Spacing Properties */
    align-items: center;
    display: flex;
    margin: auto;
    padding: 20px 50px;
}
